.app {
  width: 50%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #000;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}
tr {
  overflow-x: scroll;
}
th,
td {
  padding: 15px 15px;
  vertical-align: middle;
}
thead {
  font-size: 14px;
  line-height: 24px;
  font-family: Lato;
  max-width: 100%;
  font-weight: 900;
  line-height: 24px;
  mix-blend-mode: normal;
  color: #fff;
  background: steelblue;
  text-transform: uppercase;
}
thead tr th {
  padding: 15px 15px;
  border: 1px solid transparent;

  text-align: left;
}
tbody {
  max-width: 100%;
}
tbody tr:nth-child(odd) {
  background: #f0f0f2;
}
tbody tr {
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
tbody tr:hover {
  background: steelblue;
  color: #fff;
}
td {
  padding: 15px 15px;
}

.pagination {
  margin-top: 20px;
}
.pagination span {
  cursor: pointer;
  color: steelblue;
  font-weight: bolder;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #0099ff;
}

.pagination span.active {
  background-color: #0099ff;
  color: #fff;
}
